/*see https://quarto.org/docs/presentations/revealjs/themes.html */

/*-- scss:defaults --*/
$theme-darkblue: #01364C;
$theme-blue: #99D9DD;
$theme-white: #F7F8F9;
$theme-yellow: #F4BA02;
$theme-red: #FF0000;
$theme-green: #0f6234;

$presentation-heading-font-weight: 580;
$presentation-h1-font-size: 1.8em;
$presentation-h2-font-size:	1.6em;
$presentation-h3-font-size:	1.3em;
$presentation-h4-font-size:	1em;
$code-block-bg: #FEFEFE;
$code-block-font-size: 0.65em;
$body-color: #222;
$border-color: lighten($body-color, 30%);
$tabset-border-color: lighten($body-color, 30%);

/*-- scss:rules --*/

.blue {
  color: $theme-blue;
  font-weight: bold;
}

.green {
  color: $theme-green;
  font-weight: bold;
}

.red {
  color: $theme-red;
  font-weight: bold;
}

.red-small {
  color: $theme-red;
  font-size: 0.8em;
}

.yellow {
  color: $theme-yellow;
  font-weight: bold;
}

.error {
  color: $theme-red;
  font-size: 0.7em;
}

.author {
  color: #888888;
  width: 95% !important;
  font-size: 0.8em;
  text-align: right;
  padding-top: 0px !important;
  margin-top: -20px !important;
  margin-bottom: 10px;
}

.copyright {
  color: #999999;
  font-size: 0.4em;
}

.clean-code-rule {
  color: #999999;
  font-size: 0.5em;
}

.center .caption {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.info-block {
  background-color: #EEEEEE !important;
  width: 100% !important;
  border: solid;
  border-width: 2px;
  border-color: #777777;
  padding: 10px;
  font-weight: normal;
}

